body {
  background: url(http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg) center center no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Vibur', cursive;
  color: pink;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  text-align: center;
}

.container {
  border-radius: 5%;
  background-color: slategray;
}

#about-us {
  background-color: aqua;
}

.green-background {
  background-color: green;
}

.black-background {
  background-color: black;
}

