body {
  background: url(http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg) center center no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Vibur', cursive;
  color: pink;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  border: 1px solid black;
}

.container {
  border-radius: 5%;
  background-color: slategray;
}

.name {
  padding: 2px 20px 10px 2px;
  
}

#about-us {
  background-color: aqua;
}

.green-background {
  background-color: green;
}

.black-background {
  background-color: black;
}

span {
  background-color: green;
  margin: 50px;
  display: inline;
/*   padding-left: 50px; */
}

header {
 position: fixed;
}

.name {
  position: relative;
  top: 25px;
}

.name h1 {
  position: absolute;
  left: 100px;
}

input:valid {
  background-color: green;
}

input:invalid {
  background-color: red;
}

.sidebar {
  float: left;
}

.another-class {
  float: left;
}

.login {
  clear: both;
}

.product-gallery img {
  width: 100px;
}

.product-gallery {
  width: 300px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
}

.image-five {
  flex: 2;
}



